# logファイルとか
*.log
*.jou
*.tmp
*.str

# 中間生成ディレクトリはすべて.xprから生成できるので、.src以外すべて消す
Vivado_project/.Xil
Vivado_project/Encoder_v3.1_Firmware.cache
Vivado_project/Encoder_v3.1_Firmware.gen
Vivado_project/Encoder_v3.1_Firmware.hw
Vivado_project/Encoder_v3.1_Firmware.ip_user_files
Vivado_project/Encoder_v3.1_Firmware.runs
Vivado_project/Encoder_v3.1_Firmware.sim
